/*  index.css --
    Copyright (C) 2016 Giménez, Christian

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
  font-family: 'CubicCoreMono';
  src: url('../fonts/CubicCoreMono.ttf');
}

.crowd-header {
    font-family: 'CubicCoreMono' !important;
    font-size: 200% !important;
    padding: 1px !important;
}

.crowd-title {
    font-family: 'CubicCoreMono' !important;
}