!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:name => "author", :content => "Gimenez, Christian"}
    %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
    %link{:rel => 'stylesheet', :href => './css/index.css'}
    %title crowd

  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        %a.navbar-brand.crowd-header.text-white{:href => "http://crowd.fi.uncoma.edu.ar"}
          c r o w d
        %button.navbar-toggler{:type => "button", 'data-toogle' => 'collapse',
                               'data-target' => '#navbarNav',
                               'aria-controls' => 'navbarNav',
                               'aria-expanded' => 'false',
                               'aria-label' => 'Toggle Navigation'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{:href => './wicom/web-src/'} Model Editor
            %li.nav-item
              %a.nav-link{:href => './wiki'} Wiki
            %li.nav-item
              %a.nav-link{:href => './tech-report'} Tech Report (draft)
          .float-right
            %img{:src => 'imgs/gnu-inside.png'}

    %main{:role => 'main'}
      .jumbotron.text-center
        .container
          %h1
            %i Ontology and Conceptual Modelling
            assisted by Automated Reasoning.
          %p
            Using well-known visual languages and reasoning services for simplifying ontology and modelling development.
          %a.btn.btn-primary{:href => "./wicom/web-src/model_editor.php?type=UML"}
            Model Editor for UML
          %a.btn.btn-primary{:href => "./wicom/web-src/model_editor.php?type=EER"}
            Model Editor for EER

      .container
        
        -# --------------------------------------------------
        %h1
          About
          %span.crowd-title
            c r o w d

        %p
          We collect all the information in a wiki and a tech report draft. Also, we made publications.

        .card-deck
          .card
            .card-header
              %h3 Wiki
            .card-body
              %p.card-text
                The wiki is available for the development team for publishing information and miscelaneous stuff.
            .card-footer
              %a.card-link{:href => './wiki'} Wiki

          .card
            .card-header
              %h3 Tech Report Draft
            .card-body
              %p.card-text
                There's a draft of the tech report that explains the design and implementation of 
                %span.crowd-title c r o w d
                \. Useful for studying the code and adding new features.
            .card-footer
              %a.card-link{:href => "./tech-report"}Tech Report

          .card
            .card-header
              %h3 Publications
            .card-body
              %p.card-text
                A list of white papers publications references is available at the Wiki.
            .card-footer
              %a.card-link{:href => "http://crowd.fi.uncoma.edu.ar/wiki/doku.php/trabajos_publicados"} 
                Publications

        %br/
        
        .card.mx-auto{:style => 'width: 18rem;'}
          %img.card-img-top{:src => "imgs/mattermost.png", :width => "100px"}
          .card-body
            %h3 Contact Us
            %p.card-text
              We use
              %a{:href => 'https://mattermost.com'} Mattermost software
              for communicating between us.

              Public channels are available for contacting developers.
          .card-footer
            %a.card-links{:href => 'https://mm-miredlibre.ddns.net/crowd'}
              Chat with Us
            
        -# --------------------------------------------------
        %h1 Source Code
        %p
          Source code is licensed as 
          %img{:src => "imgs/gplv3-88x31.png",
               :alt =>"GPL version 3"}
          and available at Bitbucket.

        .card-deck
          .card
            %img.card-img-top{:src => 'imgs/meditate-small.jpg'}
            .card-body
              %h3.card-title License
              %p.card-text This work is under the General Public License version 3.
            .card-footer
              %a{:href => 'https://www.gnu.org/licenses/gpl.html'} GPL License

          .card
            %img.card-img-top{:src => "imgs/programmingasphere-800px.png"}
            .card-body
              %h3.card-title Repositories
              %p.card-text 
                Repositories are hosted in Bitbucket. We use 
                %a{:href => "https://git-scm.org"} git
                and
                %a{:href => "http://mercurial-scm.org/"} Mercurial
                \.
            .card-footer
              %a.card-link{:href => 'http://crowd.fi.uncoma.edu.ar/wiki/doku.php/repositorios'}
                List of repositories
                
              %a.card-link{:href => "https://bitbucket.org/gilia/wicom"}
                crowd Repository
              %a.card-link{:href => "https://bitbucket.org/gilia"}
                GILIA Bitbucket Group
              %a.card-link{:href => "https://bitbucket.org/account/user/gilia/projects/WIC"}
                crowd/WICOM Project

          .card
            %img.card-img-top{:src => "imgs/kid-programming-a-robot.png",
                              :alt => "kid-programming using guile"}
            .card-body
              %h3.card-title Resources
              %p.card-text 
                You can learn about 
                %span.crowd-title c r o w d
                using our documentation or studying the code. We use 
                %a{:href => "https://www.doxygen.org"} Doxygen
                for compiling PHP documentation and  
                %a{:href => "https://github.com/coffeedoc/codo"} codo
                for
                %a{:href => "http://coffeescript.org"} CoffeeScript
                \.
              %p.card-text
                The tech report (draft) is full of information about design and implementation.
            .card-footer
              %a.card-link{:href => "http://crowd.fi.uncoma.edu.ar/wicom/docs/doxygen/html/"}
                Doxygen generated docs
              %a.card-link{:href => "http://crowd.fi.uncoma.edu.ar/wicom/docs/coffee"}
                Codo generated docs
              %a.card-link{:href => "./tech-report"} Tech Report

        -# --------------------------------------------------

        %h1 Authors  and Collaborations

        %p
          %span.crowd-title c r o w d
          is the result of a combined effort of Grupo de Investigación de Lenguajes e Inteligencia Artificial (G.I.L.I.A.), students, graduates and teachers of the Facultad de Informática (Fa.I.) of Universidad Nacional del Comahue (U.N.Coma.).
        %p Also, teachers from Universidad Nacional del Sur (U.N.S.) at the Departamento de Ciencias e Ingeniería de la Computacion (D.C.I.C.) helped us in the design and development.

        .card-deck
          .card
            %img.card-img-top{:src => "imgs/gilia.png", :alt => "GILIA"}
            .card-body
              %h4.card-title G.I.L.I.A.
              %p.card-text
                Grupo de Investigación de Lenguajes e Inteligencia Artificial, Universidad Nacional del Comahue

          .card
            %img.card-img-top{:src => "imgs/FAI.jpg", :alt => "FAI"}
            .card-body
              %h4.card-title Fa.I.
              %p.card-text 
                Facultad de Informática, Universidad Nacional del Comahue
            .card-footer
              %a.card-link{:href => "http://faiweb.uncoma.edu.ar"} 
                Web Principal

          .card
            %img.card-img-top{:src => "imgs/UNComa.jpg"}
            .card-body
              %h4.card-title U.N.Coma.
              %p.card-text
                Universidad Nacional del Comahue
            .card-footer
              %a.card-link{:href => "http://www.uncoma.edu.ar"} Web Principal

          .card
            %img.card-img-top{:src => "imgs/DCIC.png"}
            .card-body
              %h4.card-title D.C.I.C.
              %p.card-text 
                Departamento de Ciencias e Ingeniería de la Computación, Universidad Nacional del Sur            
            .card-footer
              %a.card-link{:href => "http://cs.uns.edu.ar"} Web Principal

          .card
            %img.card-img-top{:src => "imgs/UNS.jpg"}
            .card-body
              %h4.card-title U.N.S.
              %p.card-text
                Universidad Nacional del Sur
            .card-footer
              %a.card-link{:href => "http://uns.edu.ar"} Web Principal

    %footer.text-muted.mt-5.border-top
      .container.pt-2
        %a{:href => "http://faiweb.uncoma.edu.ar"}
          %img{:src => "./imgs/FAI.jpg", :width => "50px",
               :alt => "FAIF logo"}
          %img{:src => "./imgs/UNComa.jpg", :width => "50px",
               :alt => "UNComa logo"}
          U.N.Coma., Fa.I.
        \|
        %a{:href => "https://cs.uns.edu.ar"}
          %img{:src => "./imgs/DCIC.png", :width => "50px", :alt => "DCIC logo"}
          %img{:src => "./imgs/UNS.jpg", :width => "50px", :alt => "UNS logo"}
          U.N.S., D.C.I.C.

        %p.float-right
          %a{:href => "#"} Back to top

    %script{:src => "./js/libs/jquery-3.2.1.min.js"}
    %script{:src => "./js/libs/popper.min.js"}
    %script{:src => "./js/libs/bootstrap.min.js"}
