!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:name => "author", :content => "Gimenez, Christian"}
    %link{:rel => "stylesheet", :href => "../css/bootstrap.min.css"}
    %title Christian Gimenez

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.sticky-top.shadow{:style => 'background-color: #ccf'}
      %a.navbar-brand{:href => '#'}
        %img.d-inline-block.align-top{:src => './lion.png', :width => 30, :height => 30}
        Christian Gimenez
      %button.navbar-toggler{ :type => "button", 'data-toggle' => 'collapse',
              'data-target' => "#navbarSupportContent"}
        %span.navbar-toggler-icon
        
      .collapse.navbar-collapse#navbarSupportContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{ :href => "#" } My profile
          %li.nav-item
            %a.nav-link{ :href => "https://crowd.fi.uncoma.edu.ar" }
              %emph crowd
          %li.nav-item
            %a.nav-link{ :href => "http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home" }
              My wiki page

    .container
      %br
      .card-deck.w-50.mx-auto
        .card
          %img.card-img-top{ :src => "./heckert_gnu.small.png" }
          .card-body
            %h3.card-title Libre Software
            %p.card-text I use Libre Software on my everyday life.
          .card-footer
            %a.btn.btn-primary.btn-block.btn-lg{ :href => 'https://fsf.org/' }
              More info

        .card
          %img.card-img-top{ :src => "./not-fd.svg", }
          .card-body
            %h3.card-title Not Faced
            %p.card-text
              You won't find me on Facebook. Please, avoid publishing photographs in which I appear.
          .card-footer
            %a.btn.btn-primary.btn-block.btn-lg{ :href => 'https://fsf.org/fb' } 
              More info

      -# --------------------------------------------------

      %h1 Contact
      .card-deck.w-75.mx-auto
        .card
          %img.card-img-top{ :src => "./xmpp.png" }
          .card-body
            %h3.card-title XMPP
            %p.card-text You can chat with me using XMPP!
          .card-footer
            %a.btn.btn-primary{ :href => 'https://www.suchat.org/crear-una-cuenta-xmpp/' }
              Create your account

            %a.btn.btn-primary{ :href => 'https://www.suchat.org/jappix/' }
              WebChat

            %a.btn.btn-secondary{ :href => 'https://www.suchat.org/clientes/' }
              List of Clients

        .card
          %img.card-img-top{ :src => './friendica.png' }
          .card-body
            %h3.card-title Friendica
            %p.card-text
              From time to time, I post about my developments on Friendica social network.
          .card-footer
            %a.btn.btn-primary{ :href => 'https://squeet.me/profile/cnngimenez' }
              See my profile

        .card
          %img.card-img-top{ :src => './mediagoblin.png' }
          .card-body
            %h3.card-title MediaGoblin
            %p.card-text
              Also, you can see my media published on a
              %a{ :href => 'https://mediagoblin.org/' } MediaGoblin
              instance.
          .card-footer
            %a.btn.btn-primary{ :href => 'https://goblinrefuge.com/mediagoblin/u/cnngimenez/' }
              See my profile

        -# .card
        -#   %img.card-img-top{ :src => './lion.png' }
        -#   .card-body
        -#     %h3.card-title LaTeX
        -#     %p.card-text
        -#       LaTeX is my favourite text compiler. Along with Org-mode and Emacs, I use them for everything!
        -#   .card-footer
        -#     %a.btn.btn-primary{ :href => 'https://www.latex-project.org/' }
        -#       LaTeX Homepage

        -#     %a.btn.btn-secondary{ :href => 'https://ctan.org/' }
        -#       CTAN

      -# --------------------------------------------------

      %h2 vCard
      %p Download a vCard file with all my contact information.
      %p
        %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/vcard.vcf"}
          Download vCard

      -# --------------------------------------------------

      %h2 Public Key

      %p
        You can download from the button below or use the GPG2 utility with the following console command:

        %code gpg2 --receive-keys C936B214EB93830D

      %p
        Software for managing public and private keys: Kleopatra, Seahorse, KGpg, Emacs (using epa), APG (para android), OpenKeyChain (for Android), etc.
        E-mail clients that supports encription: Mutt, KMail, Thunderbird, Evolution, Emacs with Wanderlust, K9-Mail + APG (for Android), K9-Mail + OpenKeyChain etc.

      %p
        More information on
        %a{ :href => "https://emailselfdefense.fsf.org/"} Email Self Defense webpage.
        
      %p
        %button.btn.btn-primary{:type => 'button',
                                'data-toggle' => 'collapse',
                                'data-target' => '#gpg-key'}
          See

        %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar/~christian.gimenez/clave_publica.asc"}
          Download

      .collapse#gpg-key
        .border.border-primary
          %pre
            \-----BEGIN PGP PUBLIC KEY BLOCK-----
            Version: GnuPG v1

            mQMuBFN7w3YRCACNIfYOjGF4nfkKF7nNsVaLwSdy/jPpGIqrX6vO+l5Mk/TGqZhS
            lEcr2Lba8u5u2gOQFbuc4EnTfVq0fD91OeQGjYLdL8lYHoJ8sRLO5RvBJ3kq3rom
            mSWkx2zr4KRMcZpReYn5VzUKnangRAj07UdYbGYfXTfuUjoeXkVxQZ+2JpDNiSJ6
            jx+Lb4pMghwS30oBGgr6oUOD1MZFhwWUc6NmLzStP/zNRfW/G6zqKIbe9L+hA3sU
            Jj64ersIlENV2kS3521lulaU+l8Zq1rnr9wOq4m1LhmXA0ce0q9IiCmDGy3aPg6U
            Nd7XKpJM8QgOOvn9Crg7b3IkMAcKBq90+7DnAQCQjXNV8QJMhZG2ex2+EzpYeVmH
            eIDNGRZC+z+5Ip5YmQf+IEnepOG86rgcYfSvA2eZYrhijDk+eTgwrJvshK+XpXau
            bwIdqKz5603B6zoQD4Mbli1AedIDGcjXET0o+LNSbfiIrg7E3qS0c9mcfpyXXwZx
            4vz3KPlhBYRN6EmpfTX4GYCzOys6XhkQVDId2LdBNeH+AQe6gPTpg68Od1BJktUW
            4+r65B40QCuzdyx4Tw6F3BERLjfDp975J0WiTnUFrlzhGWBhogA+FcRQMZcyMTAl
            eQm0b2ei0HyOy+i9TwR2LmcGBKq2KAxn7lTL57MeAudrRbnrCreztVahapVHwWA+
            Gu+XT2UNtesMataPc7JNH6XimTxfnaM7wkWZ1o1oSAf7BvgDxsjk3qZgGUZXpKS2
            V1ptrt2l8Fig9+J2LrPQuGM8o2O5dcSBElovedD5oWZ5j10mtNi2Fj+bAz3AI5pa
            OKDBj244rJfQljTJPc3ay4cMD7GwVHctJWv6MelvgL7RgVFga0JLT94e9pL0wvhi
            7lt5IPNqFLGqmhC5N/oAfuJPf6axLOel3N8fbpWPORdJe5wRLnhRR0JhAbLKPkif
            P2lvYaI75vtKMl+ErccqMi7bwx94KDOyVX1n5ee/0gpU+BLmaH8C8t98p7cVdbIs
            x4wNmlwCUhOC1zldFJAz1EY0KqguFO8Lb2BYBNbrE3OiUel6jIBcHfig8kw79EkF
            MLRuR2ltw6luZXosIENocmlzdGlhbiAoQ2VydGlmaWNhZG8gcGFyYSBsYSBjdWVu
            dGEgZGUgY29ycmVvIGluc3RpdHVjaW9uYWwuKSA8Y2hyaXN0aWFuLmdpbWVuZXpA
            ZmkudW5jb21hLmVkdS5hcj6IewQTEQgAIwUCU3vDdgIbIwcLCQgHAwIBBhUIAgkK
            CwQWAgMBAh4BAheAAAoJEMk2shTrk4MN37IA+QFHjIX848W2rYRlNkBAV6mbjDFl
            bjoybT+erJbH78njAP9mnXvAaNxyw6kJzmoHGXpooqxcnCfYWADL3+MGo8tTOrkC
            DQRTe8N2EAgAyXQEzhDW9/fvkLkYZ9rrTSx6ycJTX/19G907lxosAbX3Bmgsgd0k
            0qfP+734PQdlUC8gcBe0oVVlbZurIkJyg0OwCAFq17QIa4QhQObsRa8l7CJRekAa
            La3z2dknJJ5zJtGOEEhRjHmYH198vOSFLfbp4IClTqJyMJUcOZ4Dechx+qYDgzUH
            jSFVvW5jKpvTo5K5P0yAYPTq4Xw8ZkSJmmdIOrMsFrQTbF1KMMndrscZ+XrLfg4b
            iKlKZTtfvpIBCBG2RKK8ol+OWwR5W1ic6TmK0dgPdLEd9h7iEonnBVbF/qZiPIsf
            tARe4zi0kR4mEPEKgt9qMlMzuzBt78Vc9wADBQgAoda/j2kNrzpXPcr6oZqtaAoc
            fMZWz/awjPGdv4W18hdEAasScqiffH3V41XD+LHnVLcAk/Gs0ZbPBg/Wu6i9Uiu+
            kEedpFf7s35co0x6AQS3Q120cGMKbjYk6p16wfoLGNcSFQW88/Z3kEUv2CNhre5/
            6LNWnw6HRvvsz3LPTCNmUSuzw3B43zfVJpuKYVU7pJK7Vfnc95vIVL9tRn8VFg6I
            0Oj0nJVG6hj+YT3vYd+4yfxUi2u0WA0dP9joxKPhbNKrkxw1H56eLVXzL25qANAq
            G870AP1+23sh7dTGNQjBTYKNrdd7VzF/XNtY1PTFNwPHzzbUlYKPXGIehafZYIhh
            BBgRCAAJBQJTe8N2AhsMAAoJEMk2shTrk4MNPbsA/1R8iQ2aVjvDj34iKBuZILqq
            vvGYeUdMN6yExTm1EIXAAP9896c7jTMeA5rzekJ8lWWV4C5u8qCekizWpFy1JNi9
            kQ==
            \=qmuZ
            \-----END PGP PUBLIC KEY BLOCK-----

      -# --------------------------------------------------

      %h1 Wiki
      %p
        Please check
        %a{:href => "http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home"}
        for more information.
      %p
        %a.btn.btn-primary{:href => 'http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home'}
          My Wiki Home

      -# --------------------------------------------------

      %hr/
      %p
        %a.btn.btn-secondary{:href => "http://crowd.fi.uncoma.edu.ar"}
          Back

      -# --------------------------------------------------
      .footer{'data-role' => 'footer'}
        %address
          %a{:href => 'mailto:christian.gimenez@fi.uncoma.edu.ar'}
            Gimenez, Christian
          2 jun 2018

    %script{:src => "../js/jquery-slim.min.js"}
    %script{:src => "../js/popper.min.js"}
    %script{:src => "../js/bootstrap.min.js"}
